.header{
    width: 1280px;
    position: fixed;
    padding: 0px;
    margin: -160px -8px;
}

body {
    background-color: rgb(29, 79, 103);
}

.text {
    padding-top: 0px;
    margin-left: 50px;
    font-size: 30px;
    margin: 160px 40px;
    color: rgb(206, 222, 235);
}

.title {
    background-color: rgb(132, 172, 186);
}

.image-1 {
    padding-top: 0px;
    margin-left: 50px;
    margin-top: -130px;
}

.bilateral-p {
    margin-left: 50px;
    font-size: 20px;
    margin-right: 50px;
    color: rgb(206, 222, 235);
}

.b1 {
    height: 300px;
    width: 250px;
    margin-left: 50px;
}

.b2 {
    height: 300px;
    width: 250px;
    margin-left: 40px;
}

.b3 {
    height: 300px;
    width: 250px;
    margin-left: 40px;
}

.b4 {
    height: 300px;
    width: 250px;
    margin-left: 40px;
}

.bg {
    background-color: rgb(132, 172, 186);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
}