.header{
    width: 1280px;
    position: fixed;
    padding: 0px;
    margin: -160px -8px;
}

body {
    background-color: rgb(164, 199, 228);
}

.text {
    padding-top: 0px;
    margin-left: 50px;
    font-size: 30px;
    margin: 160px 40px;
    color: rgb(36, 80, 116);
}

.image-1 {
    padding-top: 0px;
    margin-left: 50px;
    margin-top: -130px;
}

.penjelasan {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    margin-left: 50px;
    font-size: 20px;
    margin-right: 50px;
    color: rgb(36, 80, 116);

}

.one { 
    height: 160px;
    width: 200px;
    margin-left: 40px;
}

.one:hover {
    box-shadow: 0 0 5px 5px
    rgba(121, 173, 199, 0.7)
}

.two { 
    height: 160px;
    width: 200px;
    margin-left: 40px;
}

.two:hover {
    box-shadow: 0 0 5px 5px
    rgba(121, 173, 199, 0.7)
}

.three { 
    height: 160px;
    width: 200px;
    margin-left: 40px;
}

.three:hover {
    box-shadow: 0 0 5px 5px
    rgba(121, 173, 199, 0.7)
}

.four { 
    height: 160px;
    width: 200px;
    margin-left: 40px;
}

.four:hover {
    box-shadow: 0 0 5px 5px
    rgba(121, 173, 199, 0.7)
}

.five { 
    height: 160px;
    width: 200px;
    margin-left: 40px;
}

.five:hover {
    box-shadow: 0 0 5px 5px
    rgba(121, 173, 199, 0.7)
}

.dev {
    background-color: rgb(36, 80, 116);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
}